*{
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0px;
    background-color: #006080;
    color: #fbfef9;
}


.nav{
    background-color: #928877;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav li{
    padding: 20px;
    display: inline-block;
}

li a {
    background-color: #928877;
    text-decoration: none;
    padding: 20px;
}

li a:hover {
    background-color: #ff6700;
}

#intro{
    float: left;
}